<!--<div class="card-group">
    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
  </div>-->
  
<div class="container">
    <h2 style="color: darkcyan;">Voiture Mise en Vente</h2>

        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4" *ngFor="let a of TabAnnonces">
                <div class="card">
                    <img src="" class="card-img-top" alt="image voiture">
                    <div class="card-body">
                        <h5 class="card-title">{{a.titre}}</h5>
                        <strong><p class="card-text" style="color: brown;">{{a.prix | currency : 'FCFA' : 'symbol' : '1.2-2' : 'fr'}}</p></strong>
                        <div class="d-flex justify-content-between align-items-baseline"> 
                            <p class="card-text">mis en vente le: {{a.date_A}}</p>
                            <span class="material-icons  text-while p-2 rounded-circle btn">
                              edit
                          </span>
                            <span class="material-icons bg-info text-while p-2 rounded-circle btn" (click)="onViewSite(a.id_annonces)">
                                keyboard_arrow_right
                            </span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
</div>
            <!--<div class="col mb-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="image voiture">
                    <div class="card-body">
                        <h5 class="card-title">Nom de la voiture</h5>
                        <p class="card-text">Description de l'hotel</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="image voiture">
                    <div class="card-body">
                        <h5 class="card-title">Nom de la voiture</h5>
                        <p class="card-text">Description de l'hotel</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="image voiture">
                    <div class="card-body">
                        <h5 class="card-title">Nom de la voiture</h5>
                        <p class="card-text">Description de l'hotel</p>
                    </div>
                </div>
            </div>
        </div>
</div>
-->

